/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
header {
  background-color: #FFDBAA;

}
button {
  background-color: #805215;
  color: white;

}
h1 {
  color: #553100;
}
body {
  background-color: #D4A76A;
}

.card {
  background-color: white;
}